.container h1 {
  font-size: 32px;
  color: #FF7F50;
}
.container h3 {
  color: #800080;
}
.container p {
  font-size: 25px;
  color: green;
  width: 100%;
}
.container .myclass h1 {
  font-size: 25px;
  color: #E45456;
}
.container .myclass p {
  font-size: 25px;
  color: #3C7949;
}
