@charset "utf-8";
/* CSS Document */


header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
nav {
    line-height:50px;
	text-align:left;
    background-color:#eeeeee;
    height:633px;
    width:12%;
    float:left;
    padding:5px;
      }
section{
	background-color:white;
	float:left;
	height:633px;
	width:80%;
	color:blank;
    padding:5px;}
	
footer{
	background-color:black;
    color:white;
    text-align:center;
    padding:5px;
	clear:both;
}
	

